{{ define "main" }}
<div class="container">
  <article class="content">
    <header class="content-header">
      <div class="book-header">
        {{ with .Params.cover_image }}
        <div class="book-cover-container book-cover-large-container">
          <img src="{{ . | safeURL }}" alt="Cover of {{ $.Title }}" class="book-cover-large" loading="lazy">
        </div>
        {{ end }}
        
        <div class="book-header-details">
          <h1 class="book-title">{{ .Title }}</h1>
          <hr class="title-separator">
          
          <p class="book-byline">By {{ .Params.author }}, read on {{ .Date.Format "January 2, 2006" }} • 
              {{ if .Params.rating }}
              <span class="rating-stars">
                  {{ $fullStars := math.Floor .Params.rating }}
                  {{ range seq $fullStars }}★{{ end }}
                  {{ if gt (sub .Params.rating $fullStars) 0.0 }}½{{ end }}
              </span>
              {{ else }}
              Not rated
              {{ end }}
          </p>
          
          {{ with .Description }}
          <p class="content-abstract">{{ . }}</p>
          {{ end }}
          
          {{ if .Params.tags }}
          <div class="book-tags">
            <span>Tags: </span>
            {{ range $index, $tag := .Params.tags }}
            {{ if $index }}, {{ end }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">{{ . }}</a>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </header>
    
    {{ if and (.Site.Params.enableToc | default true) .TableOfContents }}
    <div class="toc">
      <div class="toc-header">Table of Contents</div>
      <div class="toc-content">
        {{ .TableOfContents }}
      </div>
    </div>
    {{ end }}
    
    <div class="content-body">
      {{ .Content }}
    </div>
    
    <nav class="pagination">
      {{ with .PrevInSection }}
      <a href="{{ .Permalink }}" class="pagination-prev">← {{ .Title }}</a>
      {{ else }}
      <span></span>
      {{ end }}
      
      {{ with .NextInSection }}
      <a href="{{ .Permalink }}" class="pagination-next">{{ .Title }} →</a>
      {{ else }}
      <span></span>
      {{ end }}
    </nav>
  </article>
</div>
{{ end }} 