<article>
    <h1>Books</h1>
    <p>A collection of my book notes, summaries, and reviews. Books are categorized by genre.</p>
    
    <section class="book-category">
        <h2>Non-Fiction</h2>
        <ul class="book-list">
            <li>
                <a href="#book?id=thinking-fast-and-slow" class="book-link" data-route="book" data-book="thinking-fast-and-slow">
                    <img class="book-thumbnail" src="https://m.media-amazon.com/images/I/61fdrEuPJwL._SL1200_.jpg" alt="Cover of Thinking, Fast and Slow">
                    <div class="book-list-content">
                        <span class="book-title">Thinking, Fast and Slow</span>
                        <span class="book-author">by Daniel Kahneman</span>
                        <time datetime="2023-02-15">February 15, 2023</time>
                    </div>
                </a>
            </li>
            <li>
                <a href="#book?id=sample-nonfiction-book" class="book-link" data-route="book" data-book="sample-nonfiction-book">
                    <img class="book-thumbnail" src="https://via.placeholder.com/300x450/e0f0ff/333333?text=Sample+Non-Fiction+Book" alt="Cover of Sample Non-Fiction Book">
                    <div class="book-list-content">
                        <span class="book-title">Sample Non-Fiction Book</span>
                        <span class="book-author">by Author Name</span>
                        <time datetime="2023-01-01">January 1, 2023</time>
                    </div>
                </a>
            </li>
            <!-- More non-fiction books will be added here -->
        </ul>
    </section>
    
    <section class="book-category">
        <h2>Fiction</h2>
        <ul class="book-list">
            <li>
                <a href="#book?id=sample-book" class="book-link" data-route="book" data-book="sample-book">
                    <img class="book-thumbnail" src="https://via.placeholder.com/300x450/f5f5f5/333333?text=Sample+Book" alt="Cover of Sample Book">
                    <div class="book-list-content">
                        <span class="book-title">Sample Book</span>
                        <span class="book-author">by Author Name</span>
                        <time datetime="2023-01-01">January 1, 2023</time>
                    </div>
                </a>
            </li>
            <!-- More fiction books will be added here -->
        </ul>
    </section>
</article> 